@charset "UTF-8";
* {
    font-family: Arial, Helvetica, sans-serif; 
    /*height: 100%;*/
}

p { 
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #e9a046, #13d4c1);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #46324280;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color:#E1523D;
    text-align: center;
    text-shadow: 1px 1px 2px #0c2f33a2;
}
h2 {
    color:#003547
}